$text-muted: #868e96;
$orange: rgba(255, 155, 0, 0.8);
$border-orange: 1px solid $orange;
$header-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
$background: #f8f9fa;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  box-shadow: $header-shadow;
  background-color: $background;

  & .logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    // Override default link attributes
    text-decoration: none;
    color: inherit;

    &__text {
      padding: 0.2rem 0;
    }

    & .-title {
      font-size: 1.2rem;
    }

    & .-subtext {
      font-size: 0.9rem;
      color: $text-muted;
    }
  }

  & .links {
    padding: 0;

    & .link {
      margin: 0 0.5rem;
      padding: 0.5rem;
      color: $text-muted;
      cursor: pointer;
      // Override default button attributes
      background-color: inherit;
      border: none;
      font-size: 1rem;
      // Override default link attributes
      text-decoration: none;

      &:hover {
        color: inherit;
        border-bottom: 1px solid black;

        // Prevent border on hover for last child
        &:last-child {
          border-bottom: $border-orange;
        }
      }
    }

    & .-contact {
      border: $border-orange;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        background: $orange;
      }
    }
  }
}
