@import 'variables';

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 90%;

  @media only screen and (min-width: $breakpoint-medium) {
    // Medium screens - show bullets on right of image
    flex-direction: row;
  }

  @media only screen and (min-width: $breakpoint-large) {
    // Large screens - show two projects side by side with bullets below
    flex-direction: column;
    width: 45%;
  }

  &__hero {
    @media only screen and (min-width: $breakpoint-medium) {
      // This and '&__description' = 100%
      width: 60%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      // Reset width on large screens
      width: 100%;
    }

    .title {
      font-size: 2.5rem;
  
      @media only screen and (min-width: $breakpoint-medium) {
        font-size: 3rem;
      }
    }

    .media-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .image-container, .video-container {
        filter: $image-shadow;
        width: 100%;

        .image, .video {
          border-radius: 24px;
          margin: 1rem;
          transition: $image-hover-transition;
          width: 90%;

          &:hover {
            transform: $project-hover-transform;
          }
        }
      }

      .video-container {
        &.-portrait {
          // Hide video on small screens (show image only)
          display: none;

          @media only screen and (min-width: $breakpoint-medium) {
            display: block;
          }
        }
      }
    }
  }

  &__description {
    @media only screen and (min-width: $breakpoint-medium) {
      // This and '&__hero' = 100%
      width: 40%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .bullets {
      text-align: left;
      font-size: 1.2rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }
}
