@import 'variables';

// .projects {
//   width: 80%;
//   display: block;
// }

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;

  // TODO: fix this
  // width: 368px;
  // max-width: $breakpoint-medium;
  width: 80%;

  .title {
    font-size: 2.5rem;

    @media only screen and (min-width: $breakpoint-medium) {
      font-size: 3rem;
    }
  }

  .media-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .image-container, .video-container {
      filter: $image-shadow;
      width: 100%;

      .image, .video {
        border-radius: 24px;
        margin: 1rem;
        transition: $image-hover-transition;
        width: 90%;

        &:hover {
          transform: $project-hover-transform;
        }
      }
    }

    .image-container {
      &.-portrait {
        // Hide image on small screens (show video only)
        display: none;

        @media only screen and (min-width: $breakpoint-medium) {
          display: block;
        }
      }
    }
  }

  .bullets {
    text-align: left;
    font-size: 1.2rem;
  }
}
